body {
    background: url('../img/Cantina-Navarro-RoomTVMaster.jpg');
    background-size: cover;
    font-family: Lato, Verdana, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 24px;
    line-height: 1.5rem;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}

.schedule__section--today {
    color: #fff;
    font-size: 200%;
    margin: 0 1em;
    text-align: right;
    text-shadow: 2px 2px 2px #000;
}

.schedule__section {
    bottom: 5%;
    color: #fff;
    height: 60%;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    width: 50%;
}

.hide { 
    display: none;
}


.schedule__section--today p {
    margin: 0.5em 0;
    text-shadow: 3px 3px 4px #000;
}

.schedule__p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 2em auto;
    text-align: center;
}

.schedule__p time,
.schedule__p span {
    display: inline;
    padding: 0 1em;
}

.current { 
    font-size: 3em; 
    font-weight: bold; 
    margin: 1em auto;
}

.current time,
.current span {
    display: block;
    padding: 0.5em;
}

.current time {
    font-size: 0.85em;
}


@media screen and (device-aspect-ratio: 16/9) {
    .schedule__section {
        left: 5%;
    }

    .schedule__p {
        font-size: 2em;
    }

    .current { 
        font-size: 5em; 
    }
}
