<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />

    <title>Schedule</title>

	<script src="js/vendor/jquery-1.12.4.min.js" type="text/javascript"></script>
	<script src="js/vendor/underscore.min.js" type="text/javascript"></script>
	<script src="js/vendor/backbone.min.js" type="text/javascript"></script>

    <script src="js/csvToJson.js" type="text/javascript"></script>
	<script src="js/schedule.js" type="text/javascript"></script>
</head>

<body>
    <section class="schedule__section--today">
    </section>

    <section class="schedule__section">
    </section>
</body>

<script id="schedule-template" type="text/template">
    <p id="<%= model.id %>" class="schedule__p">
    	<time><%= model.displayTime %></time>
    	<span><%= model.artist %></span>
        <br />
    </p>
</script>

<script id="today-template" type="text/template">
    <p class="today">
    	<%= today %>
    </p>
</script>

</html>